# Python
/backend/venv/
__pycache__/
*.pyc

# Node
/frontend/node_modules/
/frontend/dist/
npm-debug.log

# Docker
.dockerignore

# IDE/OS files
.vscode/
.DS_Store

# Environment variables
# Never commit secret keys!
.env
.env.*
!.env.example
# Browser session data
backend/browser_profile/
chrome_dev_session/
backend/google-sheets-credentials.json

# Ignore common temporary file names
frontend/tmp.css
frontend/tmp.html
frontend/tmp.json

# Ignore files with version numbers or specific suffixes
frontend/*[0-9].*.php
frontend/*[0-9].*.css
frontend/*xxx.php
frontend/*[0-9].*.js

# Ignore specific JSON files if they are temporary
frontend/tmp*.json

# Ignore python backup files
backend/* copy.py

# Ignore temporary php files
backend/tmp.php
backend/product_database.json