fastapi
celery
redis
requests
python-dotenv
openai
pandas
beautifulsoup4
playwright
Pillow
uvicorn
python-multipart
woocommerce
dateparser
google-auth-oauthlib
google-api-python-client
openpyxl
pandas
thefuzz
python-Levenshtein